<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">통계 상세</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Admin/admin.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>

<body>

<div layout:fragment="main" id="main">
    <div id="dashDetailWrap">
        <div id="dashDetail">
            <!-- 여기 해당하는 그래프가 보이도록 -->
        </div>
        <div class="page">
            <a id="pre" href=""><i class="fa-solid fa-left-long"></i></a> <!-- 누르면 이전 일자의 통계 자료로 넘어감, 일종의 페이징? -->
            <a id="next" href=""><i class="fa-solid fa-right-long"></i></a> <!-- 누르면 다믕 일자의 통계 자료로 넘어감 -->
        </div>
    </div>
</div>

</body>
</html>