<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">신고 관리</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Admin/admin.css">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <div id="reportListWrap">
    <div id="reportList">
      <table>
        <tr>
          <th class="number">no</th>
          <th class="category">신고 글 id</th>
          <th class="title">신고 글 제목</th>
          <th class="reason">신고 사유</th>
          <th class="reporterID">신고자 계정</th>
          <th class="status">처리 상태</th>
          <th class="processBT">처리</th>
        </tr>
        <tr> <!-- 이후 DB에서 불러와 th:each 반복문으로 수정 -->
          <td class="number"></td>
          <td class="category"></td>
          <td class="title"></td>
          <td class="writeDate"></td>
          <td class="endDate"></td>
          <td class="status"></td>
          <td class="processBT">
            <button>
              <a href="/admin/report/process"
              onclick="window.open(this.href, '_blank', 'width=400, height=500'); return false;">처리</a>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div id="page">여기는 페이징</div>
  </div>
</div>

</body>
</html>