<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>신고 처리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Admin/admin.css">
</head>

<body>
<div id="reportProcessWrap">
    <form id="reportProcessForm">
        <p><i class="bi bi-dot"></i> <b>신고 게시글 내용</b></p>
        <div id="reportBodyWrap">
            <textarea readonly id="reportBody"></textarea>
        </div>
        <p><i class="bi bi-dot"></i> <b>처리 방식</b></p>
        <div id="reportProcessSelect">
            <label><input type="radio" name="processing" value="del"> 삭제</label>
            <label><input type="radio" name="processing" value="keep"> 유지</label>
        </div>
        <div id="reportProcessBT">
            <button method="post" action="/admin/report/process">처리</button>
            <button method="post" action="/admin/report/delay">보류</button>
        </div>
    </form>
</div>
<!-- 팝업으로 띄울 것이라 템플릿에서 벗어나야 할지도...-->
</body>
</html>