<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">단체 메일 작성</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Admin/admin.css">
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/editor/summernote.js"></script>
    </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
    <div id="mailWrap">
        <form method="POST" action="">
            <textarea id="summernote"></textarea>
            <button>전송</button>
        </form>
    </div>
</div>

</body>
</html>