<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">단체 메일 작성</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Admin/admin.css">
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/editor/summernote.js"></script>
    </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
    <div id="mailWrap">
        <form method="POST" action="" id="writeArea">
            <input type="text" id="inputTitle" placeholder="제목을 입력해 주세요">
            <div id="setting">
                <div id="target">
                    <label>대상
                        <select id="targetSelect">
                            <option value="allMember">전체 회원</option>
                            <option value="normalMember">정상 회원</option>
                            <option value="warningMember">경고 회원</option>
                            <option value="suspendMember">정지 회원</option>
                        </select>
                    </label>
                </div>
                <div id="reserve">
                    <label>예약 전송
                        <input type="datetime-local" id="reserveTime">
                    </label>
                </div>
            </div>
            <textarea id="summernote"></textarea>
            <button method="POST" action="/admin/user/mail" id="submitBT">전송</button>
        </form>
    </div>
</div>

</body>
</html>