

h2 {
    color: #F7D794; /* 메인 */
    text-align: center;
    margin-top: 20px;
}

#volunteerRecommand {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border: 1px solid #E9E2D4; /* 보조3 */
    border-radius: 8px;
    background-color: #FEFEFF; /* 보조1 */
}

.table-hover {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-hover th, .table-hover td {
    text-align: center;
    padding: 10px;
    border: 1px solid #E9E2D4; /* 보조3 */
}

.topic {
    background-color: #F7D794; /* 메인 */
    color: black; /* 보조1 */
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.options {
    display: none;
    margin-top: 10px;
}

/* 버튼 스타일 */
.volunteerSearch {
    background-color: #F7D794; /* 메인 색상 */
    color: #FEFEFF; /* 보조1 */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.volunteerSearch:hover {
    background-color: #E9E2D4; /* 보조3 */
    color: #767168; /* 보조2 */
}