#volunteerRecommand {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 상단과 하단 조건 간 간격 */
}

.condition-row {
    margin-bottom: 20px;
}

.table-hover {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table-hover th, .table-hover td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.topic {
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.topic:hover {
    background-color: #ececec;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

tr:style{
}