<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">콘텐츠 작성</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Campaign/campaignWrite.css">
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/editor/summernote.js"></script>
        <script src="/js/Campaign/campaignWrite.js"></script>
    </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
    <div id="contentWriteWrap">
        <form id="writeArea" method="post" action="/campaign/campaignWriteSave"  enctype="multipart/form-data">
            <input type="text" id="inputTitle" placeholder="제목을 입력해 주세요" name="campaignTitle"><br>

            <!-- 카테고리 드롭다운 추가 -->
            <select id="categorySelect" name="category">
                <option value="sign">서명</option>
                <option value="join">동참</option>
                <option value="last">지난 캠페인</option>
            </select><br>
            <!-- 캠페인 모집 기간 설정 -->
            <div class="campaignTerm">
                <label> 캠페인 기간
                    <input type="datetime-local" id="campaignstart" name="campaignStart" required>
                    ~
                    <input type="datetime-local" id="campaignend" name="campaignEnd" required>
                </label>
            </div>
            <!-- 본문 작성 공간-->

            <textarea id="summernote" name="campaignItem"></textarea>
            <!-- https://www.wrapuppro.com/programing/view/5cQ4B1QPGwOaGr9 참고용 -->
            <button type="submit" id="submitBT">등록</button>
        </form>
    </div>
</div>

</body>
</html>