<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Campaign/campaign.css">
  </th:block>

  <th:block layout:fragment="script">
    <script src="/js/Campaign/campaign.js"></script>

  </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <!-- 캠페인 로고 -->
  <div class="campaign-logo-box">
    <h2 class="campaign-logo">캠페인</h2>
  </div>
  <!-- 카테고리 버튼 -->
  <div class="category-wrap">
    <div class="category-list-box">
      <ul class="category-list">
        <li class="category-item item0">
          <button type="button" class="item-button all active" data-category="all">전체</button>
        </li>
        <li class="category-item item1">
          <button type="button" class="item-button sign" data-category="sign">서명</button>
        </li>
        <li class="category-item item2">
          <button type="button" class="item-button join" data-category="join">동참</button>
        </li>
        <li class="category-item item3">
          <button type="button" class="item-button last" data-category="last">지난 캠페인</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- 검색창 및 글작성-->
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
    <button id="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="write-campaign">
      <a href="/campaign/campaignWrite">작성</a>
    </button>
  </div>



  <!-- 검색 결과 없음 메시지 -->
  <div id="no-results" class="no-results" style="display: none;">
    검색 결과가 없습니다.
  </div>


  <!-- 전체 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-all" data-category="all">
    <!-- 서명 카드 -->
    <div class="mainCardAreaWrapper-sign">
      <ul class="signCardList-wrap">
        <li th:each="row : ${signCampaigns}" class="signCardList-item">
          <a href="" class="signCard-Wrap">
            <div class="signCardList-img">
              <img src="" alt="">
            </div>
            <div class="signCard-text">
              <strong th:text="${row.campaignTitle}" class="signCard-title"></strong>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--서명 카드-->
    <!-- 동참 카드 -->
    <div class="mainCardAreaWrapper-join">
      <ul class="joinCardList-wrap">
        <li th:each="row : ${joinCampaigns}" class="joinCardList-item">
          <a href="" class="joinCard-Wrap">
            <div class="joinCardList-img">
              <img src="" alt="">
            </div>
            <div class="joinCard-text">
              <strong th:text="${row.campaignTitle}" class="joinCard-title"></strong>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--동참 카드-->
    <!-- 지난 캠페인 카드 -->
    <div class="mainCardAreaWrapper-last">
      <ul class="lastCardList-wrap">
        <li th:each="row : ${lastCampaigns}" class="lastCardList-item">
          <a href="" class="lastCard-Wrap">
            <div class="lastCardList-img">
              <img src="" alt="">
            </div>
            <div class="lastCard-text">
              <strong th:text="${row.campaignTitle}" class="lastCard-title"></strong>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--지난 캠페인 카드-->
  </div>


  <!-- 개별 카드 콘텐츠 -->

  <!-- 서명 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-sign" data-category="sign" style="display: none;">
    <ul class="signCardList-wrap">
      <!-- 서명 카드 목록 -->
      <li th:each="row : ${signCampaigns}" class="signCardList-item">
        <a href="" class="signCard-Wrap">
          <div class="signCardList-img">
            <img src="" alt="">
          </div>
          <div class="signCard-text">
            <strong th:text="${row.campaignTitle}" class="signCard-title"></strong>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 동참 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-join" data-category="join" style="display: none;">
    <ul class="joinCardList-wrap">
      <!-- 동참 카드 목록 -->
      <li th:each="row : ${joinCampaigns}" class="joinCardList-item">
        <a href="" class="joinCard-Wrap">
          <div class="joinCardList-img">
            <img src="" alt="">
          </div>
          <div class="joinCard-text">
            <strong th:text="${row.campaignTitle}" class="joinCard-title"></strong>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 지난 캠페인 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-last" data-category="last" style="display: none;">
    <ul class="lastCardList-wrap">
      <!-- 지난 캠페인 카드 목록 -->
      <li th:each="row : ${lastCampaigns}" class="lastCardList-item">
        <a href="" class="lastCard-Wrap">
          <div class="lastCardList-img">
            <img src="" alt="">
          </div>
          <div class="lastCard-text">
            <strong th:text="${row.campaignTitle}" class="lastCard-title"></strong>
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
</body>
</html>