<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">회원정보 수정</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Mypage/mypage.css">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <div id="infoWrap">
    <div class="attribute">
      <p>이름</p>
      <p>(로그인한 계정 이름)</p>
    </div>
    <div class="attribute">
      <p>아이디</p>
      <p>(로그인한 계정 아이디)</p>
    </div>
    <div class="attribute">
      <p>닉네임</p>
      <p><input type="text" value="(로그인한 계정 닉네임)"></p>
    </div>
    <div class="attribute">
      <p>비밀번호</p>
      <input type="password">
    </div>
    <div class="attribute">
      <p>비밀번호 확인</p>
      <input type="password">
    </div>
    <div class="attribute">
      <p>이메일</p>
      <input type="email">
    </div>
    <div class="attribute">
      <p>우편번호</p>
      <input type="text">
    </div>
    <div class="attribute">
      <p>주소</p>
      <input type="text">
    </div>
    <div class="attribute">
      <p>상세 주소</p>
      <input type="text">
    </div>
    <div class="modifyBT">
      <button>변경</button>
    </div>
  </div>
</div>

</body>
</html>