<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">봉사활동 내역</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Mypage/mypage.css">
  </th:block>
  <th:block layout:fragment="script">
    <script src="/js/Mypage/mypage.js"></script>
  </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <div id="myVolunteerWrap">
    <div class="searchField">
      <div id="searchWord">
        <input type="text" id="search">
        <button id="searchBT"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div id="searchDate">
        <input type="month" id="searchMonth">
      </div>
    </div>

    <div id="no-results" class="no-results" style="display: none;">
      검색 결과가 없습니다.
    </div>

    <div class="myHistory"> <!-- th:each로 반복 -->
      <div class="thumbnail">
        이미지
      </div>
      <div class="content">
        <div class="contentTitle">
          <a class="title" href="">제목</a>
          <a class="deleteBT" href="/mypage/volunteer/cancel">취소</a>
        </div>
        <div class="contentBody">
          <div class="contentStatus">상태</div>
          <div class="contentInfoTitle">신청 정보</div>
          <div class="contentInfo">
            <div class="infoTime">일시: YYYY년 MM월 DD일 오전/오후 TT시</div>
            <div class="infoCount">인원: N명</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>