.box{
text-align:center;
padding:8px 15px;
}
.flex-container{
            display: flex;
            width:1139px;
        }
        .flex-item{
            width: 100%;
            height: 60%;
            margin: 10px;
            background-size: 20%;
             text-align:center;
        }
        .flex-item img{
            width:60%;
        }
            .container {
              object-fit: contain;
              align-content: space-around;

            }
     #support{
        width:1140px;
        height:2000px;
        position:relative;
        box-sizing:border-box;

     }
     .education{
     height:400px;
     }
    .education img{
        position:relative;
        right: 10px;
        top:100px;
        width:600px;
        height:300px;
        margin:10px;
    }

    .citizen img{
        position:relative;
        left:100px;
        top:200px;
        width:600px;
        height:300px;
        margin:10px;
    }
    .incurable img{
        position:relative;
        left:10px;
        top:300px;
        width:600px;
        height:300px;
        margin:10px;
    }
    .happy img{
        position:relative;
        left:100px;
        top:400px;
        width:600px;
        height:300px;
        margin:10px;
    }
