<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">로그인</title>

  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <form method="post" action = "/member/signIn">
    <input type="hidden" th:name="${_csfr.parameterName} th:value=${_csrf.token}">
    <div class="formData">
      <div class="formTitle">로그인</div>
      <div class="inputField">
        <input type="text" name="userId" placeholder="ID를 입력하세요">
      </div>
      <div class="inputField">
        <input type="text" name="userPW" placeholder="PW를 입력하세요">
      </div>

      <p th:if="${loginFailMsg}" th:text="${loginFailMsg}"
         style="color:red; padding-bottom:20px;"></p>

      <div class="loginBt">
        <button>login</button>
      </div>
    </div>
  </form>

  <div class="signUp">
    <a href="/member/join">회원가입</a>
  </div>
  <div class="forget">
    <a href="/member/findIdAndPw">아이디와 비밀번호 찾기</a>
  </div>

</div>

</body>
</html>