<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <div th:fragment="adminHeader" id="adminHeader">

    <div id="admin-nav">
      <ul class="admin-navbar-menu">
        <li class="admin-nav-content">
          <i class="fa-solid fa-user-tie"></i>
          <a href="/admin">관리자 메뉴</a>
        </li>

        <li class="admin-nav-content">
          <i class="fa-solid fa-chart-column"></i>
          <a href="/admin/dashboard">대시보드</a>
        </li>

        <li class="admin-nav-content">
          <i class="fa-solid fa-address-book"></i>
          <a href="/admin/user">사용자 관리</a>
        </li>

        <li class="admin-nav-content">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <a href="/admin/content">콘텐츠 관리</a>
          <ul class="admin-navbar-sub">
            <li class="admin-sub-content"><a href="/admin/content/write">콘텐츠 등록</a> </li>
          </ul>
        </li>

        <li class="admin-nav-content">
          <i class="fa-solid fa-tower-cell"></i>
          <a href="/admin/report">신고 관리</a>
        </li>

      </ul>
    </div>

  </div>
</html>