<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer" id="footer">

  <div class="footerInfo-wrap">
    <div class="footerInfo-inner">
      <ul class="footerInfo-list">
        <li class="footerInfo-item">
          여러분의 작은 관심이 생명을 살립니다. 사랑을 실천하세요!
        </li>
        <li class="footerInfo-item">
          서울시 영등포구 김바덕로 777-77 (7777) 김바덕 빌딩 3층 777호 |
        </li>
        <li class="footerInfo-item">
          대표전화: 02-777-7777
        </li>
      </ul>

      <ul class="footerInfo">
        <li class="footerInfo-item">
          <a href="" target="NONAJUDA 고객센터">고객센터</a>
        </li>
        <li class="footerInfo-item">
          <a href="" target="NONAJUDA 이용약관">이용약관</a>
        </li>
        <li class="footerInfo-item">
          <a href="" target="개인정보처리방침">개인정보처리방침</a>
        </li>
        <li class="footerInfo-item">
          사업자등록번호: 777-77-7777
        </li>
        <li class="footerInfo-item">
          |
        </li>
        <li class="footerInfo-item">
          제단 법인: 김바덕짱짱
        </li>
        <li class="footerInfo-item">
          |
        </li>
        <li class="footerInfo-item">
          대표자: 김바덕
        </li>
        <li class="footerInfo-item">
          |
        </li>
        <li class="footerInfo-item">
          Copyright © ChildFund Korea. All Rights Reserved.
        </li>
        <li class="footerInfo-item">
          <a href="" target="유투브"><i class="fa-brands fa-youtube fa-lg"></i></a>
        </li>
        <li class="footerInfo-item">
          <a href="" target="인스타"><i class="fa-brands fa-instagram fa-lg"></i></a>
        </li>
        <li class="footerInfo-item">
          <a href="" target="페이스북"><i class="fa-brands fa-facebook fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>

</div>

</html>