<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" id="header">

    <div class="logoBox">
        <a href="/">
            <div class="logo"></div>
        </a>
    </div>

    <div id="nav">
        <ul class="navbar-menu">
            <li class="nav-content">
                <i class="fa-solid fa-users"></i>
                <a href="/intro/information">소개</a>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-handshake-angle"></i>
                <a href="/volunteer/volunteer">자원봉사</a>
                <ul class="navbar-sub">
                    <li class="sub-content"><a href="">목록</a> </li>
                    <li class="sub-content"><a href="">추천</a> </li>
                </ul>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <a href="/donation/donation">기부</a>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-people-roof"></i>
                <a href="/campaign/campaignIndex">캠페인</a>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-people-group"></i>
                <a href="/participation/participationIndex">회원 참여 공간</a>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-circle-user"></i>
                <a href="/mypage">마이페이지</a>
            </li>

            <li class="nav-content">
                <i class="fa-brands fa-teamspeak"></i>
                <a href="/cstomerServiceCenter/cstomerServiceCenterIndex">고객센터</a>
            </li>

            <li class="nav-content">
                <i class="fa-solid fa-door-closed"></i>
                <a href="/member/login">로그인</a>
            </li>
        </ul>
    </div>

</div>

</html>