<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/CustomerServiceCenter/csc.css">
  </th:block>

  <th:block layout:fragment="script">
    <script src="/js/CustomerServiceCenter/csc.js"></script>
  </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <!-- 캠페인 로고 -->
  <div class="campaign-logo-box">
    <h2 class="campaign-logo">고객센터</h2>
  </div>
  <!-- 카테고리 버튼 -->
  <div class="category-wrap">
    <div class="category-list-box">
      <ul class="category-list">
        <li class="category-item item0">
          <button type="button" class="item-button all active" data-category="all">전체</button>
        </li>
        <li class="category-item item1">
          <button type="button" class="item-button member" data-category="member">회원정보</button>
        </li>
        <li class="category-item item2">
          <button type="button" class="item-button content" data-category="content">콘텐츠</button>
        </li>
        <li class="category-item item3">
          <button type="button" class="item-button product" data-category="product">상품</button>
        </li>
        <li class="category-item item4">
          <button type="button" class="item-button inquiry" data-category="inquiry">1:1문의</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- 검색창 및 글작성-->
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
    <button id="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
<!--    <button class="write-campaign">작성</button>-->
  </div>



  <!-- 검색 결과 없음 메시지 -->
  <div id="no-results" class="no-results" style="display: none;">
    검색 결과가 없습니다.
  </div>


  <!-- 전체 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-all" data-category="all">
    <!--회원정보-->
    <div class="mainCardAreaWrapper-member">
      <ul class="memberCardList-wrap">
        <li class="memberCardList-item">
          <a href="" class="memberCard-Wrap">
            <div class="memberCard-text">
              <strong class="memberCard-title">
                가입 방법을 알려주세요.
              </strong>
              <p class="description member-desc" style="display: none;">
                가입을 하기 위해선 좌측 메뉴 맨 아래 로그인을 클릭 후 회원가입을 클릭하면 됩니다.
              </p>
            </div>
          </a>
        </li>
        <li class="memberCardList-item">
          <a href="" class="memberCard-Wrap">
            <div class="memberCard-text">
              <strong class="memberCard-title">
               약관 및 개인정보처리방침 이란?
              </strong>
              <p class="description member-desc" style="display: none;">
                이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미하며,
                NONAJUDA는 개인정보처리자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정,
                가이드라인을 준수하여 개인정보 처리방침을 제공합니다.
              </p>
            </div>
          </a>
        </li>
        <li class="memberCardList-item">
          <a href="" class="memberCard-Wrap">
            <div class="memberCard-text">
              <strong class="memberCard-title">
                회원정보 수정은 어디서 하죠?
              </strong>
              <p class="description member-desc" style="display: none;">
                마이페이지에 들어가셔서 수정하시면 됩니다.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!--콘텐츠-->
    <div class="mainCardAreaWrapper-content">
      <ul class="contentCardList-wrap">
        <li class="contentCardList-item">
          <a href="" class="contentCard-Wrap">
            <div class="contentCard-text">
              <strong class="contentCard-title">
                소개가 뭐하는 페이지인가요?
              </strong>
              <p class="description content-desc" style="display: none;">
                NONAJUDA가 뭘 하는 곳인지 어떤 걸 하는지 설명이 적혀있는 공간입니다.
              </p>
            </div>
          </a>
        </li>
        <li class="contentCardList-item">
          <a href="" class="contentCard-Wrap">
            <div class="contentCard-text">
              <strong class="contentCard-title">
                자원봉사 종류에 대해 알고싶어요.
              </strong>
              <p class="description content-desc" style="display: none;">
                메뉴에서 자원봉사-목록에 들어가 보시면 나와 있습니다.
              </p>
            </div>
          </a>
        </li>
        <li class="contentCardList-item">
          <a href="" class="contentCard-Wrap">
            <div class="contentCard-text">
              <strong class="contentCard-title">
                캠페인이 뭐죠?
              </strong>
              <p class="description content-desc" style="display: none;">
                NONAJUDA의 캠페인은 여러 계층의 사람들을 위해서 NONAJUDA에서 다양한 활동으로 행복을 나누고
                가치 실현하는 행동의 모든 것을 말합니다.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- 상품-->
    <div class="mainCardAreaWrapper-product">
      <ul class="productCardList-wrap">
        <li class="productCardList-item">
          <a href="" class="productCard-Wrap">
            <div class="productCard-text">
              <strong class="productCard-title">
                자원봉사 신청 방법이 궁금해요.
              </strong>
              <p class="description product-desc" style="display: none;">
                자원봉사-목록-카드 클릭 시 설명과 하단에 신청 버튼이 나옵니다. 클릭하셔서 신청하시면 됩니다.
              </p>
            </div>
          </a>
        </li>
        <li class="productCardList-item">
          <a href="" class="productCard-Wrap">
            <div class="productCard-text">
              <strong class="productCard-title">
                기부 금액은 얼마부터 시작인가요?
              </strong>
              <p class="description product-desc" style="display: none;">
                오천 원부터 시작입니다.
              </p>
            </div>
          </a>
        </li>
        <li class="productCardList-item">
          <a href="" class="productCard-Wrap">
            <div class="productCard-text">
              <strong class="productCard-title">
                기부 환불하고 싶습니다.
              </strong>
              <p class="description product-desc" style="display: none;">
                죄송하지만 환불은 불가능합니다.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- 상품 -->
  </div>


  <!-- 개별 카드 콘텐츠 -->

  <!-- 회원정보 -->
  <div class="category-content mainCardAreaWrapper-member" data-category="member" style="display: none;">
    <ul class="memberCardList-wrap">
      <!-- 회원정보 -->
      <li class="memberCardList-item">
        <a href="" class="memberCard-Wrap">
          <div class="memberCard-text">
            <strong class="memberCard-title">
              가입 방법을 알려주세요.
            </strong>
            <p class="description member-desc" style="display: none;">
              가입을 하기 위해선 좌측 메뉴 맨 아래 로그인을 클릭 후 회원가입을 클릭하면 됩니다.
            </p>
          </div>
        </a>
      </li>
      <li class="memberCardList-item">
        <a href="" class="memberCard-Wrap">
          <div class="memberCard-text">
            <strong class="memberCard-title">
              약관 및 개인정보처리방침 이란?
            </strong>
            <p class="description member-desc" style="display: none;">
              이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미하며,
              NONAJUDA는 개인정보처리자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정,
              가이드라인을 준수하여 개인정보 처리방침을 제공합니다.
            </p>
          </div>
        </a>
      </li>
      <li class="memberCardList-item">
        <a href="" class="memberCard-Wrap">
          <div class="memberCard-text">
            <strong class="memberCard-title">
              회원정보 수정은 어디서 하죠?
            </strong>
            <p class="description member-desc" style="display: none;">
              마이페이지에 들어가셔서 수정하시면 됩니다.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-content" data-category="content" style="display: none;">
    <ul class="contentCardList-wrap">
      <!-- 콘텐츠 -->
      <li class="contentCardList-item">
        <a href="" class="contentCard-Wrap">
          <div class="contentCard-text">
            <strong class="contentCard-title">
              소개가 뭐하는 페이지인가요?
            </strong>
            <p class="description content-desc" style="display: none;">
              NONAJUDA가 뭘 하는 곳인지 어떤 걸 하는지 설명이 적혀있는 공간입니다.
            </p>
          </div>
        </a>
      </li>
      <li class="contentCardList-item">
        <a href="" class="contentCard-Wrap">
          <div class="contentCard-text">
            <strong class="contentCard-title">
              자원봉사 종류에 대해 알고싶어요.
            </strong>
            <p class="description content-desc" style="display: none;">
              메뉴에서 자원봉사-목록에 들어가 보시면 나와 있습니다.
            </p>
          </div>
        </a>
      </li>
      <li class="contentCardList-item">
        <a href="" class="contentCard-Wrap">
          <div class="contentCard-text">
            <strong class="contentCard-title">
              캠페인이 뭐죠?
            </strong>
            <p class="description content-desc" style="display: none;">
              NONAJUDA의 캠페인은 여러 계층의 사람들을 위해서 NONAJUDA에서 다양한 활동으로 행복을 나누고
              가치 실현하는 행동의 모든 것을 말합니다.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 상품 -->
  <div class="category-content mainCardAreaWrapper-product" data-category="product" style="display: none;">
    <ul class="productCardList-wrap">
      <!-- 지난 캠페인 카드 목록 -->
      <li class="productCardList-item">
        <a href="" class="productCard-Wrap">
          <div class="productCard-text">
            <strong class="productCard-title">
              자원봉사 신청 방법이 궁금해요.
            </strong>
            <p class="description product-desc" style="display: none;">
              자원봉사-목록-카드 클릭 시 설명과 하단에 신청 버튼이 나옵니다.
              클릭하셔서 신청하시면 됩니다.
            </p>
          </div>
        </a>
      </li>
      <li class="productCardList-item">
        <a href="" class="productCard-Wrap">
          <div class="productCard-text">
            <strong class="productCard-title">
              기부 금액은 얼마부터 시작인가요?
            </strong>
            <p class="description product-desc" style="display: none;">
              오천 원부터 시작입니다.
            </p>
          </div>
        </a>
      </li>
      <li class="productCardList-item">
        <a href="" class="productCard-Wrap">
          <div class="productCard-text">
            <strong class="productCard-title">
              기부 환불하고 싶습니다.
            </strong>
            <p class="description product-desc" style="display: none;">
              죄송하지만 환불은 불가능합니다.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 모달 코드 추가 -->
  <div id="modal" style="display: none;">
    <div class="modal-content">
      <span id="close-btn" class="close-btn">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-description"></p>
    </div>
  </div>

</div>
</body>
</html>