<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title>미션·비전</title>
</head>
<body>
<div layout:fragment="main" id="main">
    <div class="box">
        <h2>소개</h2>
        <div class="container">
            <ul>
                <li class="one"><a href="/templates/intro/information.html">소개</a></li>
                <li class="two"><a href="/templates/intro/mission">미션·비전</a></li>
                <hr />
            </ul>
        </div>
    </div>
    <div id="mission">
        <div class="clear"><img src="/image/intro/투명성.png" align="left"><p>투명성<br>
            투명한 운영을 통한 단체의 신뢰를 쌓고, 후원자와의 소통을 통해 단체의 정체성 확립한다. </p></div>
        <div class="expertise"><img src="/image/intro/전문성.png" align="right"><p>전문성<br>
            기부와 관련된 다양한 분야에서 오랜 경험을 갖춘 전문가들이 기부금의 투명한 운영과 목적 달성을 위한 관리 체계를 제공합니다</p></div>
        <div class="frank"><img src="/image/intro/정직과성실.png" align="left"><p>정직과 성실<br>
            기부금은 우리가 맡은 가장 중요한 책임입니다. 기부자님의 믿음에 보답하기 위해, 모든 기부금은 성실하게 관리되며, 각 프로젝트가 정해진 목적에 맞게 운영될 수 있도록 최선을 다합니다.</p>
        </div>
        <div class="with"><img src="/image/intro/협력과성장.png" align="right"><p>협력과 성장
            각 기부 프로젝트는 다양한 전문가, 기관, 그리고 기부자와의 협력을 통해 더욱 의미 있는 변화를 만들어가며, 우리는 함께 성장하는 기부 문화를 만들어가고 있습니다. </p>
        </div>
    </div>
</div>
</body>
</html>