<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">NONAJUDA 소개</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Intro/mission.css">
    </th:block>
    <th:block layout:fragment="script"> </th:block>
</head>

<body>

<div layout:fragment="main" id="main">

    <div class="intro-container">

        <!-- 로고 및 소개,미션 버튼 -->

        <div class="intro-menu-box">

            <h2 class="intro-title">소개</h2>

            <div class="intro-menu-btn-box">
                <ul class="info-menu">

                    <li class="select-btn intro-info-btn">
                        <a href="/intro/information">소개</a>
                    </li>

                    <li class="select-btn intro-mission-btn">
                        <a href="/intro/mission">미션·비전</a>
                    </li>
                    <hr class="select-btn-mark">
                </ul>
            </div>
        </div><!-- intro-menu-box-->

        <!--소개 메인 텍스트-->

        <!--NONAJUDA 미션 비전 소개 -->

        <div id="mission-activity">

        <div class="activity-content-box clear">
            <img src="/image/mission/투명성.png" alt="투명성">
            <p class="intro-activity-mission clear-text">투명성<br>
            투명한 운영을 통한 단체의 신뢰를 쌓고, 후원자와의 소통을 통해 단체의 정체성 확립한다.
            </p>
        </div>

        <div class="activity-content-box expertise">
            <img src="/image/mission/전문성.png" alt="전문성">

            <p class="intro-activity-mission experise-text">전문성<br>
            기부와 관련된 다양한 분야에서 오랜 경험을 갖춘 전문가들이 기부금의 투명한 운영과 목적 달성을 위한 관리 체계를 제공합니다</p>
        </div>

            <div class="activity-content-box frank">
                <img src="/image/mission/정직과성실.png" alt="정직과성실">

                <p class="intro-activity-mission frank-text">정직과 성실<br>
            기부금은 우리가 맡은 가장 중요한 책임입니다. 기부자님의 믿음에 보답하기 위해, 모든 기부금은 성실하게 관리되며,
                    각 프로젝트가 정해진 목적에 맞게 운영될 수 있도록 최선을 다합니다.</p>
        </div>

            <div class="activity-content-box with">
                <img src="/image/mission/협력과성장.png" alt="협력과성장">

                <p class="intro-activity-mission with-text">협력과 성장<br>
            각 기부 프로젝트는 다양한 전문가, 기관, 그리고 기부자와의 협력을 통해 더욱 의미 있는 변화를 만들어가며,
                    우리는 함께 성장하는 기부 문화를 만들어가고 있습니다. </p>
        </div>

        <div class="activity-content-box social">
        <img src="/image/mission/사회적가치.png" alt="사회적가치">
        <p class="intro-activity-mission social-text">"기부를 통한 사회적 가치 창출"<br>
        우리는 기부가 단순한 금전적 지원을 넘어서, 사람들의 삶에 진정한 변화를 일으킬 수 있다는 믿음을 가지고 있습니다.
            기부자와 함께 나누는 이 기쁨과 변화의 순간들이 모여 사회적 가치를 창출하고, 더 나은 미래를 만드는 원동력이 됩니다.
            우리는 기부의 힘을 통해 세상을 더 따뜻하고 공정한 곳으로 만들어 가겠습니다.</p>
        </div>
        </div>
</div>
</div>
</body>
</html>