<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Title</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/intro/people.css">
    </th:block>

    <th:block layout:fragment="script">

    </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
    <div class="box">
        <h2>소개</h2>
    </div>
</div>

<p>우리는 이런분들을 지원합니다</p>
<div class="people">
    <div class="people-item"><img src="/image/donation/자립청년.png"><br></div>
<p>자립청년을 도와야 하는 이유<br>
    자립청년을 도와야 하는 이유는 단순히 경제적 지원을 넘어서, 그들의 미래와 사회 전반의 건강한 발전을 위해 꼭 필요한 일입니다. 자립청년들은 다양한 어려움에 직면하고 있으며, 그들에게 지원을 제공하는 것은 개인의 성장뿐만 아니라 사회 전체의 복지와 번영을 증진시키는 중요한 활동입니다.<br>
    자립청년은 종종 가정의 지원을 받지 못하거나 경제적 어려움을 겪고 있어, 자립적인 삶을 영위하기 어려운 상황에 처해 있습니다. 이들에게 경제적 지원과 교육, 취업 기회를 제공하는 것은 그들이 독립적인 경제적 자립을 이룰 수 있도록 돕는 중요한 방법입니다.<br>
    자립적인 삶을 살아가는 청년들은 사회적 기여를 할 수 있으며, 경제적 부담을 덜어주는 데 기여할 수 있습니다.

</p>
</div>
</body>
</html>