<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">봉사활동 검색 결과</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Volunteer/volunteerSearch.css">
  </th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<body>

<div layout:fragment="main" id="main" class="main-content">
  <div class="header">
    <h2 class="title">봉사활동 검색 결과</h2>
  </div>
  <div class="container">
    <table class="results-table">
      <thead>
      <tr>
        <th class="table-header">프로그램 제목</th>
        <th class="table-header">바로가기</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="activity, iterStat : ${volunteer_activity}" th:if="${iterStat.index < 5}">
        <td class="table-data" th:text="${activity.progrmSj}">프로그램 제목</td>
        <td class="table-data">
          <a class="link" th:href="@{'/volunteer/detail/' + ${activity.ID}}" target="_blank">바로가기</a>
        </td>
      </tr>
      </tbody>
    </table>

    <div th:if="${#lists.isEmpty(volunteer_activity)}" class="no-results">
      <p class="no-results-text">검색 결과가 없습니다.</p>
    </div>
  </div>
</div>
</body>
</html>
