/* 대시보드 */
#dashWrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}
.dashboardItem{
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* 통계 상세 */
#dashDetailWrap{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#dashDetail{
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.page{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

/* 관리 리스트 공통 */
#page{
    border-top: 2px solid black;
    padding-top: 5px;
    text-align: center;
}
th, td{
    padding: 5px 10px;
}

/* 멤버 관리 */
#userListWrap{
    position: relative;
}
.mailBT{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 콘텐츠 관리 */
#contentListWrap{
    position: relative;
}
.writeBT{
    position: absolute;
    bottom: 0;
    right: 0;
}
#writeArea{
    margin: 0 auto;
}
/* 신고 관리 */
#reportListWrap{
    position: relative;
}