<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>우리는 이런분들을 지원합니다</p>
<div id="cityzen">
    <p><img src="/static/image/donation/사회적약자.png"></p>
</div>
<p>사회적약자를 도와야 하는 이유<br>
    사회적 약자는 경제적, 사회적, 또는 신체적 이유로 어려움을 겪고 있는 사람들을 말합니다. 이들을 돕는 것은 단순한 자선 활동이 아니라, 보다 공정하고 포용적인 사회를 만들기 위한 필수적인 과정입니다.<br>
  인간의 존엄성: 모든 사람은 기본적인 인권과 존엄성을 가지고 있습니다. 사회적 약자에게도 그들이 존중받고 지원받을 권리가 있습니다.<br>
  사회적 연대: 사회적 약자를 돕는 것은 공동체의 일원으로서 서로를 지지하는 중요한 역할입니다. 함께 어려움을 나누고 극복함으로써 강한 사회를 만들어 나갈 수 있습니다.<br>
  불평등 해소: 사회적 약자를 지원함으로써 불평등을 줄이고, 모든 사람이 동등한 기회를 가질 수 있도록 도울 수 있습니다. 이는 사회의 전체적인 발전에도 기여합니다.<br>
  경제적 안정: 사회적 약자에게 필요한 지원을 제공하면 그들의 생활 수준이 향상되고, 이는 궁극적으로 지역 사회의 경제적 안정과 성장으로 이어질 수 있습니다.<br>
  미래 세대의 발전: 사회적 약자를 돕는 것은 그들의 자녀에게 더 나은 교육과 기회를 제공하는 것이며, 이는 사회 전체의 발전에 기여합니다.<br>

</p>

</body>
</html>