/* 기부 내역 전체 스타일 */
#myDonationWrap {
    width: 80%;
    margin: 50px auto;
}

.searchField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#searchWord input {
    width: 80%;
    padding: 10px;
    border: 1px solid #D9D9E2;
    border-radius: 4px;
    background-color: #F9F9FB;
    font-size: 1rem;
}

#searchBT {
    padding: 10px;
    background-color: #BFBFCC;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBT:hover {
    background-color: #A0A0B3;
}

#myDonationWrap select,
#searchMonth {
    padding: 10px;
    border: 1px solid #D9D9E2;
    border-radius: 4px;
    background-color: #F9F9FB;
    font-size: 1rem;
}

/* 기부 내역 스타일 */
.myHistory {
    margin-top: 20px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    background-color: #EFEFEF;
    margin-right: 20px;
    border-radius: 8px;
}

.content {
    display: flex;
    margin-bottom: 30px;
}

.contentTitle {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.contentBody {
    font-size: 1rem;
    color: #5A5A5A;
}

.contentStatus {
    font-weight: bold;
    color: #F7D794; /* 상태 색상 */
}

.contentInfo {
    margin-top: 10px;
}

.contentInfoTitle {
    font-weight: bold;
    margin-bottom: 5px;
}

.contentInfo div {
    margin-bottom: 5px;
}

.deleteBT {
    text-decoration: none;
    color: #FF6F61; /* 삭제 버튼 색상 */
    font-weight: bold;
}

.deleteBT:hover {
    color: #F44336; /* 호버시 붉은색 */
}
