<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">NONAJUDA</title>
</head>

<body>

    <div layout:fragment="main" id="main">
        <div class="container">
            <div id="banner">
                <div class="slides">
                    <a href="https://example.com/content1" class="slide active" target="_blank">
                        <img src="/image/main/banner/1introduction.png" alt="클릭 시 사이트 소개 페이지로 이동">
                    </a>
                    <a href="https://example.com/content2" class="slide" target="_blank">
                        <img src="/image/main/banner/2volunteer.png" alt="클릭 시 사이트 자원봉사 페이지로 이동">
                    </a>
                    <a href="https://example.com/content3" class="slide" target="_blank">
                        <img src="/image/main/banner/3donation.png" alt="클릭 시 사이트 기부 페이지로 이동">
                    </a>
                    <a href="https://example.com/content4" class="slide" target="_blank">
                        <img src="/image/main/banner/4campaign.png" alt="클릭 시 사이트 캠페인 페이지로 이동">
                    </a>
                    <a href="https://example.com/content5" class="slide" target="_blank">
                        <img src="/image/main/banner/5participation.png" alt="클릭 시 회원 참여 공간 페이지로 이동">
                    </a>
                </div>
                <div class="pagination">
                    <span data-index="0" class="dot active"></span>
                    <span data-index="1" class="dot"></span>
                    <span data-index="2" class="dot"></span>
                    <span data-index="3" class="dot"></span>
                    <span data-index="4" class="dot"></span>
                </div>
            </div>
                                <!-- 기부 공간 -->
            <div class="mainCardAreaWrapper-volunteer">
                <h3 class="mainCardAreaWrapper-text">
                    <a href="" class="mainCardAreaWrapper-link">

                    </a>
                </h3>
                <ul class="volunteerCardList-wrap">
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                </ul>
            </div>
                                <!-- 기부 공간 -->
            <div class="mainCardAreaWrapper-volunteer">
                <h3 class="mainCardAreaWrapper-text">
                    <a href="" class="mainCardAreaWrapper-link">

                    </a>
                </h3>
                <ul class="volunteerCardList-wrap">
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                </ul>
            </div>
                             <!-- 캠페인 공간 -->
            <div class="mainCardAreaWrapper-volunteer">
                <h3 class="mainCardAreaWrapper-text">
                    <a href="" class="mainCardAreaWrapper-link">

                    </a>
                </h3>
                <ul class="volunteerCardList-wrap">
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                </ul>
            </div>
                            <!-- 회원 참여 공간 -->
            <div class="mainCardAreaWrapper-volunteer">
                <h3 class="mainCardAreaWrapper-text">
                    <a href="" class="mainCardAreaWrapper-link">

                    </a>
                </h3>
                <ul class="volunteerCardList-wrap">
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                    <li class="volunteerCardList-item">
                        <div class="volunteerCardList-img">
                            <img src="" alt="">
                        </div>
                        <div class="volunteerCard-text">
                            <strong class="volunteerCard-title"></strong>
                        </div>
                    </li>
                </ul>
            </div>

        </div>  <!--container -->

    </div>

</body>
</html>