<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/participation/participation.css">
  </th:block>

  <th:block layout:fragment="script">
    <script src="/js/participation/participation.js"></script>
  </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <!-- 회원 참여  로고 -->
  <div class="campaign-logo-box">
    <h2 class="campaign-logo">회원 참여 공간</h2>
  </div>

  <!-- 카테고리 버튼 -->
  <div class="category-wrap">
    <div class="category-list-box">
      <ul class="category-list">
        <li class="category-item item0">
          <button type="button" class="item-button all active" data-category="all">전체</button>
        </li>
        <li class="category-item item1">
          <button type="button" class="item-button sign" data-category="sign">캠페인</button>
        </li>
        <li class="category-item item2">
          <button type="button" class="item-button join" data-category="join">자원봉사</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- 검색창 및 글작성-->
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
    <button id="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="write-campaign">
      <a href="/participation/participationWrite">작성</a>
    </button>
  </div>

  <!-- 검색 결과 없음 메시지 -->
  <div id="no-results" class="no-results" style="display: none;">
    검색 결과가 없습니다.
  </div>

  <!-- 전체 카드 보여주기 -->
  <div class="category-content mainCardAreaWrapper-all" data-category="all" >
    <!-- 서명 카드 콘텐츠 -->
    <ul class="cardList-wrap">
      <li th:each="row : ${participationList}" th:data-category="${row.category}" class="cardList-item active">
        <a th:href="@{'/participation/detail/' + ${row.id}}" class="card-Wrap">
          <div class="cardList-img">
            <img src="" alt="">
          </div>
          <div class="card-text">
            <strong th:text="${row.participationTitle}" class="card-title"></strong>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

</body>
</html>
