<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">

<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Participation/Participation.css">
  </th:block>

  <th:block layout:fragment="script">
    <script src="/js/Participation/Participation.js"></script>

    <!--게시글 작성 양식 -->
    <script src="/js/editor/summernote.js"></script>

  </th:block>
</head>

<body>

<div layout:fragment="main" id="main">
  <!-- 회원 참여 공간 로고 -->
  <div class="campaign-logo-box">
    <h2 class="campaign-logo">회원 참여 공간</h2>
  </div>
  <!-- 카테고리 버튼 -->
  <div class="category-wrap">
    <div class="category-list-box">
      <ul class="category-list">
        <li class="category-item item0">
          <button type="button" class="item-button all active" data-category="all">전체</button>
        </li>
        <li class="category-item item1">
          <button type="button" class="item-button sign" data-category="sign">캠페인</button>
        </li>
        <li class="category-item item2">
          <button type="button" class="item-button join" data-category="join">자원봉사</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- 검색창 -->
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="검색어를 입력하세요" />
    <button id="search-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <!-- 검색 결과 없음 메시지 -->
  <div id="no-results" class="no-results" style="display: none;">
    검색 결과가 없습니다.
  </div>


  <!-- 전체 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-all" data-category="all">
    <!--서명 카드-->
    <div class="mainCardAreaWrapper-sign">
      <ul class="signCardList-wrap">
        <li class="signCardList-item">
          <a href="" class="signCard-Wrap">
            <div class="signCardList-img">
              <img src="" alt="">
            </div>
            <div class="signCard-text">
              <strong class="signCard-title">
                서명 텍스트1
              </strong>
            </div>
          </a>
        </li>
        <li class="signCardList-item">
          <a href="" class="signCard-Wrap">
            <div class="signCardList-img">
              <img src="" alt="">
            </div>
            <div class="signCard-text">
              <strong class="signCard-title">
                서명 텍스트2
              </strong>
            </div>
          </a>
        </li>
        <li class="signCardList-item">
          <a href="" class="signCard-Wrap">
            <div class="signCardList-img">
              <img src="" alt="">
            </div>
            <div class="signCard-text">
              <strong class="signCard-title">
                서명 텍스트3
              </strong>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--서명 카드-->
    <!--동참 카드-->
    <div class="mainCardAreaWrapper-join">
      <ul class="joinCardList-wrap">
        <li class="joinCardList-item">
          <a href="" class="joinCard-Wrap">
            <div class="joinCardList-img">
              <img src="" alt="">
            </div>
            <div class="joinCard-text">
              <strong class="joinCard-title">
                동참 텍스트1
              </strong>
            </div>
          </a>
        </li>
        <li class="joinCardList-item">
          <a href="" class="joinCard-Wrap">
            <div class="joinCardList-img">
              <img src="" alt="">
            </div>
            <div class="joinCard-text">
              <strong class="joinCard-title">
                동참 텍스트2
              </strong>
            </div>
          </a>
        </li>
        <li class="joinCardList-item">
          <a href="" class="joinCard-Wrap">
            <div class="joinCardList-img">
              <img src="" alt="">
            </div>
            <div class="joinCard-text">
              <strong class="joinCard-title">
                동참 텍스트3
              </strong>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--동참 카드-->

  </div>


  <!-- 개별 카드 콘텐츠 -->

  <!-- 서명 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-sign" data-category="sign" style="display: none;">
    <ul class="signCardList-wrap">
      <!-- 서명 카드 목록 -->
      <li class="signCardList-item">
        <a href="" class="signCard-Wrap">
          <div class="signCardList-img">
            <img src="" alt="">
          </div>
          <div class="signCard-text">
            <strong class="signCard-title">
              서명 텍스트1
            </strong>
          </div>
        </a>
      </li>
      <li class="signCardList-item">
        <a href="" class="signCard-Wrap">
          <div class="signCardList-img">
            <img src="" alt="">
          </div>
          <div class="signCard-text">
            <strong class="signCard-title">
              서명 텍스트2
            </strong>
          </div>
        </a>
      </li>
      <li class="signCardList-item">
        <a href="" class="signCard-Wrap">
          <div class="signCardList-img">
            <img src="" alt="">
          </div>
          <div class="signCard-text">
            <strong class="signCard-title">
              서명 텍스트3
            </strong>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- 동참 카드 콘텐츠 -->
  <div class="category-content mainCardAreaWrapper-join" data-category="join" style="display: none;">
    <ul class="joinCardList-wrap">
      <!-- 동참 카드 목록 -->
      <li class="joinCardList-item">
        <a href="" class="joinCard-Wrap">
          <div class="joinCardList-img">
            <img src="" alt="">
          </div>
          <div class="joinCard-text">
            <strong class="joinCard-title">
              동참 텍스트1
            </strong>
          </div>
        </a>
      </li>
      <li class="joinCardList-item">
        <a href="" class="joinCard-Wrap">
          <div class="joinCardList-img">
            <img src="" alt="">
          </div>
          <div class="joinCard-text">
            <strong class="joinCard-title">
              동참 텍스트2
            </strong>
          </div>
        </a>
      </li>
      <li class="joinCardList-item">
        <a href="" class="joinCard-Wrap">
          <div class="joinCardList-img">
            <img src="" alt="">
          </div>
          <div class="joinCard-text">
            <strong class="joinCard-title">
              동참 텍스트3
            </strong>
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
</body>
</html>